/*
Colors used:
Primary Color (Blue): #3448C7;
Secondary Color (grey): #FBFBFB;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #FBFBFB;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #999999;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  color: #000000;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: #000000;
}

h3 {
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

a:hover,
a:focus, {
  color: #3448C7;
}

a:active {
  color: #3448C7;
}

.radiushome img {
  border-radius: 6px;
}

nav {
  line-height: 18px;
  font-weight: 700;
}

nav a:hover,
nav a:focus {
  color: #3448C7;
  font-weight: 500;
}

nav a:active {
  color: #3448C7;
  font-weight: 500;
}

nav .projects a {
  line-height: 13px;
  color: #545454;
  font-weight: 400;
}

nav .projects a:active,
nav .projects a:hover,
nav .projects a:focus {
  color: #3448C7;
}

#title-about h1 {
  color: #3448C7;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}

.section-about p {
  text-align: center;
}

.skills h2 {
  color: #3448C7;
  font-weight: 600;
  text-align: center;
  font-size: 1.5em;
}

.skills {
  padding: 10px 0px 20px 0px;
  background-color: #EEF6F9;
}

.column-skills h3 {
  color: #3448C7;
  font-weight: 400;
}

#future-project {
  font-family: 'Nunito Sans', sans-serif;
}

#future-project h2,
#future-project h3,
#future-project p {
  color: #FFFFFF;
}

.social {
  margin-top: 10px;
}

.social svg {
  margin: 0 20px 0 0;
}

.social svg:hover #Group {
  fill: #3448C7;
}

.button {
    display: inline-block;
    background-color: #3448C7;
    color: #ffffff;
    font-weight: 500;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid #3448C7;
    transition: 0.2s opacity;
  }

.button:hover,
.button:active {
    color: #3448C7;
    background-color: transparent;
  }

.button.future {
  display: inline-block;
  color: #ffffff;
  background-color: rgba(71,228,186,0.2);
  font-weight: 500;
  border: 2px solid #47E4BA;
}

.button.future:hover,
.button.future:active {
  color: #ffffff;
  background-color: #47E4BA;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.logo {
  max-width: 200px;
  padding: 20px 0px 10px 0px;
}

.subtitle {
  padding-top: 5px;
  color: #545454;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.4;
}

nav > ul {
  list-style-type: none;
  padding: 0px;
}

nav > ul > li{
  padding: 10px 0px;
}

.projects {
  list-style-type: none;
  padding: 0px;
}

.projects li {
  padding: 5px 0px;
}

#homepage .row {
  margin: 25px 0;
}

#projects h2 {
  text-align: center;
}

#projects p {
  text-align: center;
}

.button {
  margin: 10px 0px;
}

/* Layout styling about page*/

.skills h3 {
  margin: 15px 0px 5px 0px;
  text-align: center;
}

.column-skills ul {
  text-align: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/* Layout styling future page*/

#intro-future p {
  margin: 15px 0px;
}

.block img {
  margin-bottom: 15px;
}

.picture {
  margin: 0px 20px 0px 20px;
}

#future-project img {
  display: block;
}

.button.future {
  margin: 10px auto;
}

.screens img {
  margin-top: 20px;
  }

#future img {
  display: block;
}

.screens div {
  width: 50%;
  display: inline-block;
}

.row h2 {
  margin: 5px 0px 10px 0px;
}

.row h3 {
  margin: 5px 0px;
}

.row p {
  margin: 5px 0px 30px 0px;
}

#future-project .row {
  background-color: #0A1A35;
  margin: 0 0 1em;
  padding: 1em;
}
