/*
Colors used:
Primary Color (Blue): #3448C7;
Secondary Color (grey): #FBFBFB;
light grey: #999999;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #FBFBFB;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #999999;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  color: #000000;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: #000000;
}

h3 {
  font-weight: 500;
}

#intro-future span {
  font-weight: 500;
  color: #000000;
}

img {
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

a:hover,
a:focus, {
  color: #3448C7;
}

a:active {
  color: #3448C7;
}

.radiushome img {
  border-radius: 6px;
}

nav {
  line-height: 18px;
  font-weight: 700;
}

nav a:hover,
nav a:focus {
  color: #3448C7;
  font-weight: 500;
}

nav a:active {
  color: #3448C7;
  font-weight: 500;
}

nav .projects a {
  line-height: 13px;
  color: #545454;
  font-weight: 400;
}

nav .projects a:active,
nav .projects a:hover,
nav .projects a:focus {
  color: #3448C7;
}

.description-project p {
  color: #999999;
}

#title-about h1 {
  color: #3448C7;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}

.section-about p {
  text-align: center;
}

.skills h2 {
  color: #3448C7;
  font-weight: 600;
  text-align: center;
  font-size: 1.5em;
}

.skills {
  padding: 10px 0px 20px 0px;
  background-color: #EEF6F9;
}

.column-skills h3 {
  color: #3448C7;
  font-weight: 400;
}

#future-project {
  font-family: 'Nunito Sans', sans-serif;
}

#future-project h2,
#future-project h3,
#future-project p {
  color: #FFFFFF;
}

.social {
  margin-top: 10px;
}

.social svg {
  margin: 0 20px 0 0;
}

.social svg:hover #Group {
  fill: #3448C7;
}

.button {
    display: inline-block;
    background-color: #3448C7;
    color: #ffffff;
    font-weight: 500;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid #3448C7;
    transition: 0.2s opacity;
  }

.button:hover,
.button:active {
    color: #3448C7;
    background-color: transparent;
  }

.button.future {
  display: inline-block;
  color: #ffffff;
  background-color: rgba(71,228,186,0.2);
  font-weight: 500;
  border: 2px solid #47E4BA;
}

.button.future:hover,
.button.future:active {
  color: #ffffff;
  background-color: #47E4BA;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.logo {
  max-width: 200px;
  padding: 20px 0px 10px 0px;
}

.subtitle {
  padding-top: 5px;
  color: #545454;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.4;
}

nav > ul {
  list-style-type: none;
  padding: 0px;
}

nav > ul > li{
  margin: 25px 0px;
}

.projects {
  list-style-type: none;
  padding: 0px;
}

.projects li {
  padding: 7px 0px;
}

#homepage .row {
  margin: 25px 0;
}

#projects h2 {
  text-align: center;
}

#projects p {
  text-align: center;
}

.button {
  margin: 10px 0px;
}

/* Layout styling about page*/

.skills h3 {
  margin: 15px 0px 5px 0px;
  text-align: center;
}

.column-skills ul {
  text-align: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#contact {
  text-align: center;
}

/* Layout styling future page*/

#intro-future p {
  margin: 15px 0px;
}

#intro-future h1 {
  margin: 0.3em 0px;
}

.block img {
  margin-bottom: 1em;
}

.picture {
  margin: 0px 20px 0px 20px;
}

#future-project img {
  display: block;
}

.screens {
  text-align: center;
}

.screens img {
  margin-top: 20px;
  }

.screens div {
  width: 50%;
  display: inline-block;
}

.row h2 {
  margin: 5px 0px 10px 0px;
}

.row h3 {
  margin: 5px 0px;
}

.row p {
  margin: 5px 0px 30px 0px;
}

#future-project .row {
  background-color: #0A1A35;
  margin: 0 0 1em;
  padding: 1em;
}

.center {
  text-align: center;
}

.button.future {
  margin: 10px 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  nav {
    display: none;
  }

}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

.col-md-6 {
  width: 50%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row-skills::after {
  content: "";
  clear: both;
  display: table;
}

.col-md-6 {
  float: left;
  padding: 0 10px 0 10px;
}

.logo {
    max-width: 450px;
    padding: 20px 0px 10px 0px;
  }

.subtitle {
  font-size: 1.8em;
  padding-left: 5px;
}

.screens div {
  width: 50%;
  display: inline-block;
  float: right;
  padding: 0 5px 0 5px;
}

.section-about img {
  width: 75%;
}

.section-about {
  text-align: center;
}

}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1140px) {

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .right-section::after {
    content: "";
    clear: both;
    display: table;
  }

  .section-about img {
    width: 30%;
  }

  .section-about p {
    text-align: center;
  }

  .logo {
    max-width: 180px;
    padding: 20px 0px 10px 0px;
  }

  .subtitle {
    font-size: 1.4em;
    padding-left: 5px;
  }

  .right-container {
    float:right;
    width: 75%;
  }

  .lg {
    width: 25%;
    float: left;
  }

  #intro {
    display: none;
  }

  .col-md-6 {
    padding: 0 15px 0 15px;
  }

  #homepage {
    margin: 50px 50px 0 70px;
  }

  #about {
    margin: 50px 50px 0 70px;
  }

  #future {
    margin: 50px 50px 0 70px;
  }

  .right-section .container {
    padding: 0;
  }

  #intro-future {
    padding: 5px 0 10px;
  }

  .screens div {
    width: 25%;
    display: inline-block;
    float: right;
    padding: 0 5px 0 5px;
  }

  #projects h2 {
    font-size: 1em;
  }


}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

.logo {
  max-width: 200px;
  padding: 20px 0px 10px 0px;
}

.subtitle {
  font-size: 1.5em;
  padding-left: 5px;
}

.right-container {
  float:right;
  width: 75%;
}

#homepage {
  margin: 50px 200px 0 250px;
}

#about {
    margin: 50px 200px 0 250px;
  }

#future {
  margin: 50px 200px 0 250px;
}

}
